<div class="step-content">
  <h2>Step 1: Personal Information</h2>
  <p>Please enter your personal details below.</p>
  
  <div class="form-fields">
    <p-floatLabel>
      <input pInputText id="firstname" />
      <label for="firstname">First Name</label>
    </p-floatLabel>
    
    <p-floatLabel>
      <input pInputText id="lastname" />
      <label for="lastname">Last Name</label>
    </p-floatLabel>
    
    <p-floatLabel>
      <input pInputText id="email" type="email" />
      <label for="email">Email</label>
    </p-floatLabel>
  </div>
</div>
