<div class="step-content">
  <h2>Step 2: Address Details</h2>
  <p>Please provide your address information.</p>
  
  <div class="form-fields">
    <p-floatLabel>
      <input pInputText id="street" />
      <label for="street">Street Address</label>
    </p-floatLabel>
    
    <p-floatLabel>
      <input pInputText id="city" />
      <label for="city">City</label>
    </p-floatLabel>
    
    <p-floatLabel>
      <input pInputText id="zipcode" />
      <label for="zipcode">Zip Code</label>
    </p-floatLabel>
  </div>
</div>
